@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html,body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #666292;
}
/* HEADER
Je l'ai crée et utilise position fixe-------------------------------------------------------*/
header {
    background-color: #9B2C2C;
    width: 100%;
    height: 104px;
    position: fixed;
    top: 0;
}
.logo {
    font-size: 50px;
    color: white;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: 2%;
}

span {
    font-size: 20px;
}

/* le centre de premier page max 1200px, a ete creer par display grid -------------------------------------------*/
.container {
    max-width: 1200px;
    text-align: center;
    min-height: calc(100vh - 100px); 
    margin-top: 11%;
}
/* min-height: calc(100vh - 104px); Pour "coller le footer------------------------------------------------ */
.container>h2{
    font-size: 40px;
}
.artistesPhoto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1vw;
}
/* Des tailles pour des images------------------------------------------------------------- */
.card {
    width: auto;
    height: auto;
    margin: 0 1vw;
}
.card>img{
    width: 100%;
    height: 100%;
}
ul {
    list-style: none;
}
.main {
    display: grid;
    grid-template-columns: 25% 75%;
    margin-top: 4%;
}
input {
    width: 27vw;
    height: 3vw;
    border-radius: 7px;
    border: 0;
}
.cube {
    background: rgb(18,101,177);
    background: linear-gradient(72deg, rgba(18,101,177,1) 36%,
    rgba(81,137,189,0.9976365546218487) 78%, rgba(123,184,241,1) 91%);
    width: 20vw;
    height: 41vh; 
    margin-left: 10%;
}
.cube>h5 {
    font-size: 18px;
    color: white;
    padding-top: 10px;
    text-align: left;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif,;
}
.cube>ul {
    color: white;
    font-size: 29px;
    color: white;
    font-size: 29px;
    text-align: initial;
    padding-left: 12px;
}
.cube>ul>li {
    margin: 5px 0px 7px 0px;
}

.cards-albums{
    width: auto;
    height: auto;
    border: 3px solid white;
}
.cards-albums>img {
    width: 100%;
    height: 100%;
}

.halfOfPage {
    grid-column-start: 1;
}
.halfOfPageCentre {
    grid-column-start: 2;
    margin-top: 6%;
    margin-bottom: 2%;
}
.albums {
    display: flex;
    margin-left: 3%;
}
.cards-albums {
    margin-left: 8px;
    margin-right: 8px;
}
.barRecherche{
    padding-top: 11%;
}
.bouttonConectione{
    display: flex;
    justify-content: center;
    padding-top: 11%;
    grid-column-start: 2;
}
.bouttonConectione>div {
    width: 10vw;
    height: 4vh;
    background-color: #85AEFE;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 5px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
    border-radius: 10px;
}
.bouttonConectione>div>p {
    margin-top: 11px;
}
/* je cree des liens -------------------------------------------------------  */

.container>h2>a {
    color: black;
}
a {
    text-decoration: none;
    color: white;
}
/* zoom des divs----------------------------------------------------------------- */
.card:hover{
    transform: scale(2);
    transition: transform .20s;
    z-index: 1;
}
.cards-albums:hover {
    transform: scale(1.8);
    transition: transform .20s;

}



/* Footer(evidement) -----------------------------------------------------------------*/
footer {
    width: 100%;
    background-color: #110D0D;
    height: 80px;
    padding-top: 2%;
}

.ulfooter {
    color: #BDADAD;
    align-items: center;
}
.ulfooter>ul {
    display: flex;
    justify-content: space-around;
}
/* Le style pour 2m page------------------------------------------------------------ */
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
/* Des images -------------------------------------------------------------------- */
.cardArtistes {
    width: auto;
    height: auto;
}
.cardArtistes>img {
    width: 80%;
    height: 100%;
}
.cardClip{
    width: 100%;
    height: 9vh;
    margin: 10% 0 10% 0;
    border: 2px solid white;
}
.cardClip>img {
    width: 100%;
    height: 100%;
}
.clips>h4 {
    padding-bottom: 16%;
}
.cardBiographie{
    height: 70vh;
    grid-template-columns: 3;
}
.biographieblock{
    height: 39vh;
    width: 37vw;
}
.biographieblock>img{
    width: 25vw;
    height: 39vh;
    border-radius: 5px;
}
.mesArtistes {
    grid-column-start: 1;
}
.cardClip{
    grid-column-start: 2;
}
h4 {
    font-size: 35px;
    font-weight: normal;
}
.textbiographie {
    background-color: white;
    width: 25vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
}
.prochainConcerts{
    background-color: #4D9541;
    color: #C7C3C3;
    width: 25vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
}
/* zoom pour page 2 ----------------------------------------------------------------- */
.cardClip:hover{
    transform: scaleY(3);
    transition: transform .20s;
    z-index: 1;
}
.biographieblock>img:hover {
    transform: scale(2);
    height: 100%;
    transition: transform .20s;
    z-index: 1;
}
/*Ici, je commance créer des Media Queries */
@media (min-width: 1201px) and (max-width: 1300px){
    .container {
        min-width: 1200px;
        text-align: center;
    }
    .wrapper{
        min-width: 1200px;
    }
    .barRecherche {
        padding-top: 5%;
    }
    input {
        width: 28vw;
        height: 4vh;
        border-radius: 7px;
        border: 0;
    }
    .albums {
        margin-left: 0;
    }
}
@media (min-width: 1301px) and (max-width: 1399px) {
    .container {
        min-width: 1300px;
        text-align: center;
    }
    .wrapper{
        min-width: 1300px;
    }
    .barRecherche {
        padding-top: 5%;
    }
    input {
        width: 28vw;
        height: 4vh;
        border-radius: 7px;
        border: 0;
    }
}
@media (min-width: 1401px) and (max-width: 1499px) {
    .container {
        min-width: 1400px;
        text-align: center;
    }
    .wrapper{
        min-width: 1400px;
    }
    .barRecherche {
        padding-top: 5%;
    }
    input {
        width: 28vw;
        height: 4vh;
        border-radius: 7px;
        border: 0;
    }
    .bouttonConectione {
        padding-top: 10%;
    }
    .albums {
        margin-left: 0;
    }
}
@media (min-width: 1501px) and (max-width: 1599px) {
    .container {
        min-width: 1500px;
        text-align: center;
    }
    .wrapper{
        min-width: 1500px;
    }
    .barRecherche {
        padding-top: 5%;
    }
    input {
        width: 28vw;
        height: 4vh;
        border-radius: 7px;
        border: 0;
    }
    .bouttonConectione {
        padding-top: 10%;
    }
    .albums {
        margin-left: 0;
    }
    .textbiographie {
        font-size: 20px;
    }
    .prochainConcerts{
        font-size: 20px;
    }
}
@media (min-width: 1601px) and (max-width: 1699px) {
    .container {
        min-width: 1600px;
        text-align: center;
    }
    .wrapper{
        min-width: 1600px;
    }
    .barRecherche {
        padding-top: 5%;
    }
    input {
        width: 28vw;
        height: 4vh;
        border-radius: 7px;
        border: 0;
    }
    .bouttonConectione {
        padding-top: 8%;
    }
    .albums {
        margin-left: 0;
    }
    .textbiographie {
        font-size: 22px;
    }
    .prochainConcerts{
        font-size: 22px;
    }
}
@media (min-width: 1701px) and (max-width: 1799px) {
    .container {
        min-width: 1700px;
        text-align: center;
    }
    .wrapper{
        min-width: 1700px;
    }
    .barRecherche {
        padding-top: 5%;
    }
    input {
        width: 28vw;
        height: 4vh;
        border-radius: 7px;
        border: 0;
    }
    .bouttonConectione {
        padding-top: 8%;
    }
    .albums {
        margin-left: 0;
    }
    .cube {
        background: rgb(18,101,177);
        background: linear-gradient(72deg, rgba(18,101,177,1) 36%, rgba(81,137,189,0.9976365546218487) 78%, rgba(123,184,241,1) 91%);
        width: 17vw;
        height: 40vh;
        margin-left: 8%;
    }
    .textbiographie {
        font-size: 22px;
    }
    .prochainConcerts{
        font-size: 22px;
    }
}
@media (min-width: 1801px) and (max-width: 1899px) {
    .container {
        min-width: 1800px;
        text-align: center;
    }
    .wrapper{
        min-width: 1800px;
    }
    .barRecherche {
        padding-top: 5%;
    }
    input {
        width: 28vw;
        height: 4vh;
        border-radius: 7px;
        border: 0;
    }
    .bouttonConectione {
        padding-top: 10%;
    }
    .albums {
        margin-left: 0;
    }
    .cube {
        background: rgb(18,101,177);
        background: linear-gradient(72deg, rgba(18,101,177,1) 36%, rgba(81,137,189,0.9976365546218487) 78%, rgba(123,184,241,1) 91%);
        width: 17vw;
        height: 40vh;
        margin-left: 8%;
    }
    .textbiographie {
        font-size: 23px;
    }
    .prochainConcerts{
        font-size: 23px;
    }
}
@media (min-width: 1901px) and (max-width: 1999px) {
    .container {
        min-width: 1900px;
        text-align: center;
    }
    .wrapper{
        min-width: 1900px;
    }
    .barRecherche {
        padding-top: 5%;
    }
    input {
        width: 28vw;
        height: 4vh;
        border-radius: 7px;
        border: 0;
    }
    .bouttonConectione {
        padding-top: 8%;
    }
    .bouttonConectione>div>p{
        font-size: 20px;
    }
    .albums {
        margin-left: 0;
    }
    .cube {
        background: rgb(18,101,177);
        background: linear-gradient(72deg, rgba(18,101,177,1) 36%, rgba(81,137,189,0.9976365546218487) 78%, rgba(123,184,241,1) 91%);
        width: 17vw;
        height: 40vh;
        margin-left: 10%;
    }
    .textbiographie {
        font-size: 23px;
    }
    .prochainConcerts{
        font-size: 23px;
    }
}
/* Media Queries pour des  mobiles --------------------------------------------------*/
@media (min-width: 768px) and (max-width: 991px)  {
    .cube>ul {
        color: white;
        font-size: 29px;
        color: white;
        font-size: 20px;
        text-align: initial;
        padding-left: 12px;
    }
    .cube>h5 {
        font-size: 15px;
        color: white;
        padding-top: 10px;
        text-align: left;
        padding-left: 10px;
        font-family: 'Roboto', sans-serif,;
    }
    .bouttonConectione>div>p {
        font-size: 11px;
    }
    .container>h2 {
        font-size: 34px;
    }

}
@media (max-width: 767px) {
    .artistesPhoto {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 1vw;
        grid-row-gap: 1vh;
    }
    .card {
        width: auto;
        height: auto;
        margin: 0 1vw;
    }
    .bouttonConectione>div>p {
        font-size: 11px;
    }
    .container>h2 {
        font-size: 34px;
    }
    .container{
        margin-top: 19%;
    }
    .cube>ul {
        font-size: 9px;
    }
    .cube>h5 {
        font-size: 9px;
    }
    .logo {
        font-size: 25px;
    }
    header {
        height: 60px;
    }
    .container>h2 {
        font-size: 30px;
    }
    .albums {
        display: block;
    }
    .cards-albums {
        margin-left: 0;
        margin-right: 3vw;
        width: auto;
        height: auto;
        border: 3px solid white;
        margin-bottom: 10px;

    }
    .cube {
        width: 23vw;
        height: 41vh;
    }
    input {
        width: 50vw;
        height: 5vw;
    }
    .bouttonConectione>div {
        width: 13vw;
    }
    .bouttonConectione>div>p {
        font-size: 7px;
    }
    .ulfooter>ul {
        display: block;
        justify-content: center;
        font-size: 10px;
    }
    .ulfooter {
        display: flex;
        justify-content: center;
    }
    /* -----------J'entends du zoom----------------------------- */
    .card:hover{
        transform: none;
        transition: none;
        z-index: 0;
    }
    .cards-albums:hover {
        transform: none;
        transition: none;
    
    }
    /* pour 2em page -------------------------------------------------------------------*/
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }
    .cardClip {
        width: 100vw;
        height: 50vh;   
    }
    .textbiographie {
        width: 50%;
        height: 15%;

    }
    .biographieblock {
        height: auto;
        width: auto;
    }
    .biographieblock>img {
        width: 100%;
        height: 100%;
    }
    h4 {
        font-size: 30px;
    } 
    .biographieblock {
        height: 50%;
        width: 66%;
        margin-left: auto;
        margin-right: auto;
    }
    .prochainConcerts {
        width: 50%;
        height: 15%;
    }
    .clips>h4 {
        padding-bottom: 0%;
    }  
    .cardBiographie {
        height: 123vh;
    }
    /* -----------J'entends du zoom----------------------------- */
    .cardClip:hover{
        transform: none;
        transition: none;
        z-index: 0;
    }
    .cardBiographie:hover {
        transform: none;
        transition: none;
        
    }

}